<aside class="app-sidebar">
  <div class="main-sidebar-header active">
  
    <!-- *************************** AJPUTER LE LOGO DE MY CAMPUS ************************************** -->
    <a class="desktop-logo logo-dark active" href=""><img src="/publics/img/brand/MYCAMPUSLOGO.png" class="main-logo dark-theme" alt="logo"></a>
    <!-- *************************** AJPUTER LE LOGO DE MY CAMPUS ************************************** -->
  
        <div class="app-sidebar__toggle" data-toggle="sidebar">
    <a class="open-toggle" href="#"><i class="header-icon fe fe-chevron-left"></i></a>
    <a class="close-toggle" href="#"><i class="header-icon fe fe-chevron-right"></i></a>
    </div>
  
  </div>
  <div class="main-sidemenu sidebar-scroll">
    <ul class="side-menu">
          <h3></h3>
    <li class="slide">
      <a class="side-menu__item" href="<%-url%>web/annonce/annoncebyAutorite/2" id="rejeter"><div class="side-angle1"></div><div class="side-angle2"></div><div class="side-arrow"></div>
      <i class="side-menu__icon si si-dislike"></i>
      <span class="side-menu__label">Rejeter</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item" href="<%-url%>web/annonce/annoncebyAutorite/1" id="enattente"><div class="side-angle1"></div><div class="side-angle2"></div><div class="side-arrow"></div>
      <i class="side-menu__icon si si-clock"></i>
      <span class="side-menu__label mg-t-5">En Attente</span></a>
    </li>
    <li class="slide">
      <a class="side-menu__item" href="<%-url%>web/annonce/annoncebyAutorite/0" id="valider"><div class="side-angle1"></div><div class="side-angle2"></div><div class="side-arrow"></div>
      <i class="side-menu__icon si si-check"></i>
      <span class="side-menu__label mg-t-5">Valider</span></a>
    </li>
    </ul>
    <div class="app-sidefooter">
    <a class="side-menu__item" href="#"><svg class="side-menu__icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm1 14h-2v-2h2v2zm0-3h-2c0-3.25 3-3 3-5 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 2.5-3 2.75-3 5z" opacity=".3"/><path d="M11 16h2v2h-2zm1-14C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/></svg> <span class="side-menu__label">Suport</span></a>
    <a class="side-menu__item" href="/auth/logout">
      <svg class="side-menu__icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24"/></g><g><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/></g></svg>
       <span class="side-menu__label">Logout</span>
    </a>
    </div>
  </div>
</aside>