<div class="main-footer ht-40">
    <div class="container-fluid pd-t-0-f ht-100p">
        <span>Copyright © 2023 <a href="#">MyCampus Dashboard</a>. Designed by THE_AARC All rights reserved.</span>
    </div>
</div>
<a href="#top" id="back-to-top" style="display: block;"><i class="las la-angle-double-up"></i></a>