/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  

  .submit {
    display: none;
  }
  
  /* Mark input boxes that gets an error on validation: */
  .invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .form-step {
    display: none;
  }

  .form-step.active {
    display: block;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 30px;
    width: 30px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    justify-content: space-between;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }